body {
    line-height: 1.5;
    min-height: 100vh;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #fff;
    font-family: "Google Sans", sans-serif;
    letter-spacing: normal;
    color: #fff;
}

.weather-body {
    width: 460px;
    border-radius: 25px;
    overflow: hidden;
    padding: 2rem;
    box-shadow: 0 0 0 10px #e9ebec, 0 0 0 11px #fcfdfe;
    background-color: #9234e7;
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

.body-wrapper {
    margin: 20px 10px;
    min-height: 200px;
}

select {
    width: 100%;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://img.icons8.com/material-two-tone/2x/expand-arrow--v2.png) 96% / 15% no-repeat #EEE;
    background-size: 30px 30px;
}

#cityName {
    padding: 10px;
    display: block;
    text-align: center;
    background-color: #6318a7;
    margin: 10px 0;
    color: #fff;
}

#cityWeatherIcon {
    font-size: 80px;
}

#cityWeatherTemp {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;

}

.weather-wrapper {
    text-align: center;
}

.temp-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 33%;
    margin-top: 20px;
}

.temp-max,
.temp-min,
.temp-icon {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.temp-icon {
    margin-bottom: 15px;
}

#weatherForecast {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wi-font {
    font-size: 50px;
    margin-top: 10px;
}

.day {
    background-color: #6318a7;
    padding: 10px;
    color: #fff;
    width: 100%;
}

.degree:after {
    content: '\00b0';
}


#bodyLoader {
    position: relative;
}

#loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}